/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* ========================= */
/* Header Styles */
/* ========================= */
header {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 284px);
  position: relative;
  overflow: hidden;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  color: white;
  justify-content: space-between;
  box-sizing: border-box;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.hero-content h1 {
  margin-bottom: 50px;
}

.hero-content p {
  font-size: 1.1em;
  line-height: 1.5;
}

.red-line {
  width: 120px;
  height: 4px;
  background-color: red;
  display: inline-block;
  margin-bottom: 50px;
}

#header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* ========================= */
/* Navigation Styles */
/* ========================= */
.hotel-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 284px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-nav ul {
  list-style: none;
  padding: 50px;
  margin: 0;
}

.hotel-nav li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px 0;
  font-weight: 500;
  font-size: 14px;
}

.hotel-nav li a:hover {
  color: #007bff;
}

/* Social Links Styles */
.social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px; /* Adjust size as needed */
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  color: white; /* Icon color */
  text-decoration: none;
  font-size: 4.2em; /* Adjust icon size */
}
.social-links {
  margin-bottom: 10px;
}

/* ========================= */
/* Footer Styles */
/* ========================= */
.footer-info {
  padding: 50px;
  margin-top: auto;
  text-align: center;
  font-size: 12px;
}

/* ========================= */
/* Booking Button Styles */
/* ========================= */
.booking-button {
  margin: 0; /* Уберите любые отступы сверху */
  background: url(../d2eb56d43c8bba2f4611.jpg) no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 40px;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.booking-button a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.booking-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

/* ========================= */
/* Main Styles */
/* ========================= */
main {
  width: calc(100% - 284px);
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 50vh);
}

/* Style the anchor tags to take up the entire grid cell */
.parent a {
  display: block; /* Make the anchor tag a block-level element */
  position: relative; /* Set position to relative */
  overflow: hidden; /* This will hide the overflow */
}

.parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 2.5s ease;
}

/* Hover effect for grid images */
.parent a:hover img {
  /* Modified to apply hover to the anchor */
  transform: scale(1.1);
}

.div1 {
  grid-area: 1 / 1 / 2 / 3;
}

.div2 {
  grid-area: 1 / 3 / 2 / 4;
}

.div3 {
  grid-area: 1 / 4 / 2 / 5;
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
}

.div5 {
  grid-area: 2 / 2 / 3 / 3;
}

.div6 {
  grid-area: 2 / 3 / 3 / 5;
}

/* Image Text Styles */
.image-text {
  position: absolute;
}
.cozy_rooms {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.6em;
  color: rgba(61, 60, 60, 0.753);
}
.special_offers {
  position: absolute;
  left: 40px;
  bottom: 60px;
  font-size: 1.4em;
  color: rgb(224, 224, 224);
}
.organization_performance {
  position: absolute;
  left: 30px;
  top: 30px;
  line-height: 1.5;
  font-size: 1.4em;
  color: rgb(224, 224, 224);
}
.hotel_gallery {
  position: absolute;
  left: 30px;
  top: 30px;
  line-height: 1.2;
  font-size: 1.6em;
  color: white;
}
.services {
  position: absolute;
  right: 30px;
  bottom: 30px;
  line-height: 1.2;
  font-size: 1.6em;
  color: rgb(224, 224, 224);
}
.figure {
  position: absolute;
  left: 50%;
  bottom: 50%;
  line-height: 1.2;
  font-size: 1.6em;
  color: rgb(224, 224, 224);
}

.time-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}
#volgograd-time {
  display: flex;
  align-items: flex-end;
  text-align: right;
  position: relative;
}

.time-value {
  position: absolute;
  bottom: 0%;
  right: -55%;
  font-size: 2em;
  transform: translate(55%);
}

#cityTemp {
  display: flex;
  align-items: flex-end;
  text-align: right;
  position: relative;
}

.weather-value {
  position: absolute;
  bottom: 0%;
  right: -50%;
  font-size: 2em;
  transform: translate(50%);
}

.header-top-mobile,
.booking-button-mobile {
  display: none;
}
@media (max-width: 768px) {
  /* Стили для родительского контейнера mobile-header-wrapper */
  .mobile-header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
  }

  /* Стили для header-wrapper */
  .header-wrapper {
    align-items: center;
    justify-content: end;
  }

  /* ==========================================================================
   * Hero Content (тексты)
   * ========================================================================== */

  /* Стили для заголовка hero-content h1 */
  .hero-content h1 {
    font-size: 54px;
    /* line-height: 1.5; */
  }

  /* Стили для параграфа hero-content p */
  .hero-content p {
    font-size: 26px;
    /* line-height: 1.5; */
  }

  /* Стили для элемента content-level-2 */
  .content-level-2 {
    margin-bottom: 200px;
  }

  /* ==========================================================================
   * Верхнее меню (header-top-mobile)
   * ========================================================================== */

  /* Стили для контейнера верхнего меню */
  .header-top-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    /* padding-left: ; */
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 67px;
    box-sizing: border-box;
  }

  /* Стили для переключателя меню (menu-toggle) */
  .header-top-mobile .menu-toggle {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
  }

  /* Стили для логотипа (logo-mobile) */
  .header-top-mobile .logo-mobile img {
    width: 80px;
    height: auto;
  }

  /* ==========================================================================
   * Кнопка "Забронировать"
   * ========================================================================== */

  /* Стили для кнопки "Забронировать" (booking-button-mobile) */
  .booking-button-mobile {
    background: url(../9211e7c7ddac8cc200ce.jpg) no-repeat center center;
    background-color: #004694;
    color: white;
    /* background-size: cover; */
    background-position: 95% 0;
    align-items: center;
    justify-content: start;
    display: flex;
    padding: 0;
    font-size: 18px;
    height: 67px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 8;
    padding: 30px 40px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
  }

  /* Стили для ссылки внутри кнопки "Забронировать" (a) */
  .booking-button-mobile a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  /* ==========================================================================
   * Навигация (hotel-nav)
   * ========================================================================== */

  /* Стили для навигации */
  .hotel-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1976d2;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    color: white;
  }

  /* ==========================================================================
   * Скрываем элементы
   * ========================================================================== */

  .logo,
  .time-weather {
    display: none;
  }

  /* ==========================================================================
   * Дополнительные стили
   * ========================================================================== */

  /* Активация меню при нажатии (hotel-nav.open) */
  .hotel-nav.open {
    transform: translateY(0);
  }

  /* Стили для header */
  header {
    margin-top: 60px;
    width: 100%;
  }
}

